# MacOS metadata. 
.DS_Store

# Pycharm metadata.
.idea

# Byte-compiled Python code.
*.py[cod]
__pycache__/
.cache

# Common venv names.
/*venv/
/venv*/

# Ignore files created during installation and building.
*.egg-info
.eggs/
/assets/
/build/
/dist/
/lab2d/

# Test cache
.pytest_cache

# Type checking
.pytype
