name: pytype-concordia

on:
  push:
    branches:
      - main
    paths:
      - '.github/actions/install-concordia/action.yml'
      - '.github/workflows/pytype-concordia.yml'
      - 'examples/**'
      - 'concordia/**'
      - 'pyproject.toml'
      - 'setup.py'
  pull_request:
    branches:
      - main
    paths:
      - '.github/actions/install-concordia/action.yml'
      - '.github/workflows/pytype-concordia.yml'
      - 'examples/**'
      - 'concordia/**'
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  pytype:
    name: Typecheck Concordia
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout Concordia
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Install Concordia
        uses: ./.github/actions/install-concordia

      - name: Run PyType on Concordia
        run: pytype concordia
