name: test-examples

on:
  push:
    branches:
      - main
    paths:
      - '.github/actions/install/action.yml'
      - '.github/workflows/test-examples.yml'
      - '.pylintrc'
      - 'bin/convert_notebooks.sh'
      - 'bin/install.sh'
      - 'concordia/**'
      - 'examples/**'
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'setup.py'
  pull_request:
    branches:
      - main
    paths:
      - '.github/actions/install/action.yml'
      - '.github/workflows/test-examples.yml'
      - '.pylintrc'
      - '.python-version'
      - 'bin/convert_notebooks.sh'
      - 'bin/install.sh'
      - 'concordia/**'
      - 'examples/**'
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'setup.py'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  test-examples:
    name: Test examples
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout Concordia
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install Concordia
        uses: ./.github/actions/install

      - name: Test examples
        run: pytest examples

      - name: Lint examples
        run: pylint --errors-only examples

      - name: Typecheck examples
        run: pytype examples

      - name: Convert notebooks
        run: ./bin/convert_notebooks.sh notebooks

      - name: Lint notebooks
        run: pylint --errors-only notebooks

      - name: Typecheck notebooks
        run: pytype --pythonpath=. notebooks
