name: test-examples

on:
  push:
    branches:
      - main
    paths:
      - '.github/actions/install-examples/action.yml'
      - '.github/actions/install-concordia/action.yml'
      - '.github/workflows/test-examples.yml'
      - '.pylintrc'
      - 'concordia/**'
      - 'examples/**'
      - 'pyproject.toml'
      - 'setup.py'
  pull_request:
    branches:
      - main
    paths:
      - '.github/actions/install-examples.yml'
      - '.github/actions/install-concordia.yml'
      - '.github/workflows/test-examples.yml'
      - '.pylintrc'
      - 'concordia/**'
      - 'examples/**'
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  test-examples:
    name: Test examples
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout Concordia
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - name: Install examples
        uses: ./.github/actions/install-examples

      - name: Test examples
        run: pytest examples

      - name: Lint examples
        run: pylint --errors-only examples

      - name: Typecheck examples
        run: pytype examples

      - name: Convert notebooks
        run: ./bin/convert_notebooks.sh notebooks

      - name: Lint notebooks
        run: pylint --errors-only notebooks

      - name: Typecheck notebooks
        run: pytype --pythonpath=. notebooks
